@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-size: 16px;
  --text-color-blue : #38b6ff;
  --active-link-color: #00d1ff;
  --check-marc-color : #7f9db2;
  --bg-color-menu-mobile: rgba(27, 46, 55, 0.9);
  --dark-color : #212428;
  --menu-box-shadow : #3a2e55;
}
*{
  /* border: #d9d9d9 1px solid; */
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style-type: none;
  color: #d4d4d4;
  font-family: fantasy Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--dark-color) ;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
